<div class="main">
    <div class="page-header larger parallax custom mb0" style="background-image:url(assets/images/page-header-bg.jpg)">
        <div class="container">
            <h1>Proceso de selección de ganadores</h1>
            <ol class="breadcrumb">
                <li><a href="">Inicio</a></li>
                <li><a href="">Premio</a></li>
                <li class="active">Proceso de selección de ganadores</li>
            </ol>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
</div>

<div class="container">
    <div class="row">

        <div class="col-sm-6 col-md-4">

        </div>

        <div class="col-sm-6 col-md-4">

            <div class="entry-author">
                <figure>
                    <img src="~/Content/assets/images/blog/users/author.jpg" alt="Author" class="img-responsive">
                </figure>
                <div class="author-content">
                    <h4><a href="#">Proceso 1</a></h4>
                    <p>Perspiciatis accusantium laudantium deserunt ad vel sit ipsam consequuntur tenetur similique, recusandae esse a enim, quibusdam ullam, error doloribus. Accusamus alias, ipsum tempora sapiente reiciendis quasi nostrum ratione aspernatur repellat.</p>
                    <div class="social-icons">
                        <label>Find Us:</label>
                        <a href="#" class="social-icon" title="Facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-icon" title="Twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-icon" title="Github"><i class="fa fa-github"></i></a>
                        <a href="#" class="social-icon" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-icon" title="Tumblr"><i class="fa fa-tumblr"></i></a>
                        <a href="#" class="social-icon" title="Flickr"><i class="fa fa-flickr"></i></a>
                    </div><!-- End .social-icons -->
                </div><!-- end .author-content -->
            </div>

        </div>

        <div class="col-sm-6 col-md-4">



        </div>

    </div>

    <div class="row">

        <div class="col-sm-6 col-md-4">

        </div>

        <div class="col-sm-6 col-md-4">

            <div class="entry-author">
                <figure>
                    <img src="~/Content/assets/images/blog/users/author.jpg" alt="Author" class="img-responsive">
                </figure>
                <div class="author-content">
                    <h4><a href="#">Proceso 2</a></h4>
                    <p>Perspiciatis accusantium laudantium deserunt ad vel sit ipsam consequuntur tenetur similique, recusandae esse a enim, quibusdam ullam, error doloribus. Accusamus alias, ipsum tempora sapiente reiciendis quasi nostrum ratione aspernatur repellat.</p>
                    <div class="social-icons">
                        <label>Find Us:</label>
                        <a href="#" class="social-icon" title="Facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-icon" title="Twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-icon" title="Github"><i class="fa fa-github"></i></a>
                        <a href="#" class="social-icon" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-icon" title="Tumblr"><i class="fa fa-tumblr"></i></a>
                        <a href="#" class="social-icon" title="Flickr"><i class="fa fa-flickr"></i></a>
                    </div><!-- End .social-icons -->
                </div><!-- end .author-content -->
            </div>

        </div>

        <div class="col-sm-6 col-md-4">



        </div>

    </div>

    <div class="row">

        <div class="col-sm-6 col-md-4">

        </div>

        <div class="col-sm-6 col-md-4">

            <div class="entry-author">
                <figure>
                    <img src="~/Content/assets/images/blog/users/author.jpg" alt="Author" class="img-responsive">
                </figure>
                <div class="author-content">
                    <h4><a href="#">Proceso 3</a></h4>
                    <p>Perspiciatis accusantium laudantium deserunt ad vel sit ipsam consequuntur tenetur similique, recusandae esse a enim, quibusdam ullam, error doloribus. Accusamus alias, ipsum tempora sapiente reiciendis quasi nostrum ratione aspernatur repellat.</p>
                    <div class="social-icons">
                        <label>Find Us:</label>
                        <a href="#" class="social-icon" title="Facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-icon" title="Twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-icon" title="Github"><i class="fa fa-github"></i></a>
                        <a href="#" class="social-icon" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-icon" title="Tumblr"><i class="fa fa-tumblr"></i></a>
                        <a href="#" class="social-icon" title="Flickr"><i class="fa fa-flickr"></i></a>
                    </div><!-- End .social-icons -->
                </div><!-- end .author-content -->
            </div>

        </div>

        <div class="col-sm-6 col-md-4">



        </div>

    </div>

    <div class="row">

        <div class="col-sm-6 col-md-4">

        </div>

        <div class="col-sm-6 col-md-4">

            <div class="entry-author">
                <figure>
                    <img src="~/Content/assets/images/blog/users/author.jpg" alt="Author" class="img-responsive">
                </figure>
                <div class="author-content">
                    <h4><a href="#">Proceso 4</a></h4>
                    <p>Perspiciatis accusantium laudantium deserunt ad vel sit ipsam consequuntur tenetur similique, recusandae esse a enim, quibusdam ullam, error doloribus. Accusamus alias, ipsum tempora sapiente reiciendis quasi nostrum ratione aspernatur repellat.</p>
                    <div class="social-icons">
                        <label>Find Us:</label>
                        <a href="#" class="social-icon" title="Facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-icon" title="Twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-icon" title="Github"><i class="fa fa-github"></i></a>
                        <a href="#" class="social-icon" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-icon" title="Tumblr"><i class="fa fa-tumblr"></i></a>
                        <a href="#" class="social-icon" title="Flickr"><i class="fa fa-flickr"></i></a>
                    </div><!-- End .social-icons -->
                </div><!-- end .author-content -->
            </div>

        </div>

        <div class="col-sm-6 col-md-4">


        </div>

    </div>

</div>
