/*
	Simple Theme
	Skin Name: Lime
	First-color: #AFB42B
	Second-color: #FDD835
*/
a {
  color: #AFB42B;
}

a:hover, a:focus {
  color: #4b4d12;
}

.text-custom {
  color: #AFB42B;
}

.text-custom2 {
  color: #FDD835;
}

blockquote cite {
  color: #AFB42B;
}

.highlight.custom {
  background-color: #AFB42B;
}

.highlight.custom2 {
  background-color: #FDD835;
}

.dropcap.custom::first-letter {
  background-color: #AFB42B;
}

.dropcap.custom2::first-letter {
  background-color: #FDD835;
}

::-moz-selection {
  background-color: #AFB42B;
}

::selection {
  background-color: #AFB42B;
}

.bg-custom {
  background-color: #AFB42B !important;
}

.bg-custom.border {
  border-top-color: #73761c;
  border-bottom-color: #73761c;
}

.bg-custom.bordered {
  border-color: #73761c;
}

.bg-custom2 {
  background-color: #FDD835 !important;
}

.bg-custom2.border {
  border-top-color: #c09d02;
  border-bottom-color: #c09d02;
}

.bg-custom2.bordered {
  border-color: #c09d02;
}

.overlay-container .overlay.custom {
  background-color: #AFB42B;
}

.overlay-container .overlay.custom2 {
  background-color: #FDD835;
}

.trigger-video-btn:hover, .trigger-video-btn:focus {
  background-color: rgba(175, 180, 43, 0.65);
}

.header a:hover, .header a:focus {
  color: #AFB42B;
}

.header .header-dropdown .dropdown-menu > li > a:hover, .header .header-dropdown .dropdown-menu > li > a:focus {
  background-color: #AFB42B;
}

.header-top .header-dropdown.open > a, .header-top .header-dropdown:hover > a, .header-top .header-dropdown:focus > a {
  background-color: #AFB42B;
  border-color: #AFB42B;
}

.header-top .top-menu li a:before {
  background-color: #AFB42B;
}

.header-top .top-menu li.active a, .header-top .top-menu li:hover a, .header-top .top-menu li:focus a {
  color: #AFB42B;
}

.header-top .top-links a {
  color: #AFB42B;
}

.header-top .social-icons .social-icon:hover, .header-top .social-icons .social-icon:focus {
  background-color: #AFB42B;
  border-color: #AFB42B;
}

.header-info-boxes .header-info-box i.custom {
  background-color: #AFB42B;
}

.dropdown.cart-dropdown > a {
  color: #AFB42B;
}

.dropdown.cart-dropdown > a .dcart-total-count {
  color: #AFB42B;
}

.dropdown.cart-dropdown.open > a, .dropdown.cart-dropdown:hover > a, .dropdown.cart-dropdown:focus > a {
  color: #9fa427;
}

.header.header2 .navbar-nav .dropdown.cart-dropdown > a .dcart-total-count {
  background-color: #AFB42B;
}

@media (min-width: 768px) {
  .header.header2.transparent.light .navbar-nav > li.open > a, .header.header2.transparent.light .navbar-nav > li.open > a:hover, .header.header2.transparent.light .navbar-nav > li.open > a:focus, .header.header2.transparent.light .navbar-nav > li.active > a, .header.header2.transparent.light .navbar-nav > li.active > a:hover, .header.header2.transparent.light .navbar-nav > li.active > a:focus {
    color: #AFB42B;
  }
}

.header.header3 .social-icons .social-icon:hover, .header.header3 .social-icons .social-icon:focus {
  background-color: #AFB42B;
}

@media (min-width: 992px) {
  .header.header5 .header-top.custom {
    background-color: #AFB42B;
    border-color: #AFB42B;
  }
}

.header.header5.dark .sidemenu-toggle:hover, .header.header5.dark .sidemenu-toggle:focus {
  background-color: #AFB42B;
  border-color: #AFB42B;
}

@media (min-width: 768px) {
  .navbar-nav > li > a:before {
    background-color: #AFB42B;
  }
  .navbar-nav > li.open > a, .navbar-nav > li.open > a:hover, .navbar-nav > li.open > a:focus, .navbar-nav > li.active > a, .navbar-nav > li.active > a:hover, .navbar-nav > li.active > a:focus {
    color: #AFB42B;
  }
}

.navbar-nav .dropdown-menu > li > a:hover, .navbar-nav .dropdown-menu > li > a:focus {
  background-color: #AFB42B;
}

.navbar-nav .dropdown-menu > li.open > a, .navbar-nav .dropdown-menu > li.open > a:hover, .navbar-nav .dropdown-menu > li.open > a:focus {
  background-color: #AFB42B;
}

.navbar-nav .dropdown-menu.megamenu a:hover, .navbar-nav .dropdown-menu.megamenu a:focus {
  background-color: #AFB42B;
}

.navbar-toggle:hover, .navbar-toggle:focus,
.menu-toggle:hover,
.menu-toggle:focus,
.sidemenu-toggle:hover,
.sidemenu-toggle:focus {
  background-color: #AFB42B;
  border-color: #AFB42B;
}

.tip {
  background-color: #AFB42B;
}

.tip:after {
  border-color: #AFB42B transparent transparent transparent;
}

.navbar-nav li li .tip:after,
.side-menu .tip:after {
  border-color: transparent transparent #AFB42B transparent;
}

.navbar-container .social-icons .social-icon:hover, .navbar-container .social-icons .social-icon:focus {
  background-color: #AFB42B;
}

.navbar-nav.nav-overlay li:hover > a,
.navbar-nav.nav-overlay li.open > a,
.navbar-nav.nav-overlay li.active > a {
  color: #AFB42B !important;
}

.navbar-nav.nav-overlay li:hover > a:hover, .navbar-nav.nav-overlay li:hover > a:focus,
.navbar-nav.nav-overlay li.open > a:hover,
.navbar-nav.nav-overlay li.open > a:focus,
.navbar-nav.nav-overlay li.active > a:hover,
.navbar-nav.nav-overlay li.active > a:focus {
  color: #AFB42B !important;
}

.navbar-container.dark .social-icons .social-icon:hover, .navbar-container.dark .social-icons .social-icon:focus {
  background-color: #AFB42B;
}

.navbar-container.dark .menu-toggle:hover, .navbar-container.dark .menu-toggle:focus {
  background-color: #AFB42B;
  border-color: #AFB42B;
}

.navbar-container.dark .navbar-nav.nav-overlay li:hover > a, .navbar-container.dark .navbar-nav.nav-overlay li.open > a, .navbar-container.dark .navbar-nav.nav-overlay li.active > a {
  color: #AFB42B !important;
}

.navbar-container.dark .navbar-nav.nav-overlay li:hover > a:hover, .navbar-container.dark .navbar-nav.nav-overlay li:hover > a:focus, .navbar-container.dark .navbar-nav.nav-overlay li.open > a:hover, .navbar-container.dark .navbar-nav.nav-overlay li.open > a:focus, .navbar-container.dark .navbar-nav.nav-overlay li.active > a:hover, .navbar-container.dark .navbar-nav.nav-overlay li.active > a:focus {
  color: #AFB42B !important;
}

.side-menu li.active > a,
.side-menu li.active > a:hover,
.side-menu li.active > a:focus, .side-menu li:hover > a,
.side-menu li:hover > a:hover,
.side-menu li:hover > a:focus, .side-menu li:focus > a,
.side-menu li:focus > a:hover,
.side-menu li:focus > a:focus {
  color: #AFB42B;
}

.header.dark .side-menu li.active > a,
.header.dark .side-menu li.active > a:hover,
.header.dark .side-menu li.active > a:focus, .header.dark .side-menu li:hover > a,
.header.dark .side-menu li:hover > a:hover,
.header.dark .side-menu li:hover > a:focus, .header.dark .side-menu li:focus > a,
.header.dark .side-menu li:focus > a:hover,
.header.dark .side-menu li:focus > a:focus {
  color: #AFB42B;
}

@media (min-width: 992px) {
  .header2.sticky-header.fixed.transparent.custom {
    background-color: #AFB42B;
  }
}

.header-top.custom {
  background-color: #AFB42B;
  border-color: #AFB42B;
}

.header-top.custom .header-dropdown > a {
  background-color: #b7bc2d;
  border-color: #c3c930;
}

.header-top.custom .header-dropdown:nth-of-type(2n) > a {
  background-color: #a7ac29;
}

.header-top.custom .header-dropdown.open > a, .header-top.custom .header-dropdown:hover > a, .header-top.custom .header-dropdown:focus > a {
  background-color: #9b9f26;
  border-color: #a7ac29;
}

.header-top.custom .top-menu li a:before {
  background-color: #d1d551;
}

.header-top.custom .top-menu li + li:before {
  color: #8f9323;
}

.header-top.custom .top-menu li.active a, .header-top.custom .top-menu li:hover a, .header-top.custom .top-menu li:focus a {
  color: #d7db6a;
}

.header-top.custom .top-links a:hover, .header-top.custom .top-links a:focus {
  color: #d7db6a;
}

.header-top.custom .social-icons .social-icon {
  border-color: #c7cd31;
}

.header-top.custom .social-icons .social-icon:hover, .header-top.custom .social-icons .social-icon:focus {
  background-color: #9b9f26;
  border-color: #9b9f26;
}

.header-top.dark .header-dropdown > a {
  background-color: #AFB42B;
  border-color: #9fa427;
}

.header-top.dark .header-dropdown:nth-of-type(2n) > a {
  background-color: #b7bc2d;
}

.header-top.dark .header-dropdown.open > a, .header-top.dark .header-dropdown:hover > a, .header-top.dark .header-dropdown:focus > a {
  background-color: #9b9f26;
  border-color: #a7ac29;
}

.header-top.dark .top-menu li.active a, .header-top.dark .top-menu li:hover a, .header-top.dark .top-menu li:focus a {
  color: #AFB42B;
}

.header-top.dark .top-links a:hover, .header-top.dark .top-links a:focus {
  color: #AFB42B;
}

.header-top.dark .social-icons .social-icon:hover, .header-top.dark .social-icons .social-icon:focus {
  border-color: #AFB42B;
}

.header-bottom.custom {
  background-color: #AFB42B;
}

.header-bottom.custom .navbar-toggle:hover, .header-bottom.custom .navbar-toggle:focus {
  background-color: #FDD835;
  border-color: #FDD835;
}

@media (min-width: 768px) {
  .header-bottom.custom .navbar-nav > li.open > a, .header-bottom.custom .navbar-nav > li.open > a:hover, .header-bottom.custom .navbar-nav > li.open > a:focus, .header-bottom.custom .navbar-nav > li.active > a, .header-bottom.custom .navbar-nav > li.active > a:hover, .header-bottom.custom .navbar-nav > li.active > a:focus {
    color: #AFB42B;
  }
}

@media (min-width: 768px) {
  .header-bottom.custom .navbar-nav .cart-dropdown > a .dcart-total-count {
    background-color: #AFB42B;
  }
}

.header-bottom.custom .navbar-nav .cart-dropdown.open > a .dcart-total-count, .header-bottom.custom .navbar-nav .cart-dropdown:hover > a .dcart-total-count, .header-bottom.custom .navbar-nav .cart-dropdown:focus > a .dcart-total-count {
  color: #AFB42B;
}

@media (min-width: 768px) {
  .header-bottom.dark .navbar-nav .cart-dropdown > a .dcart-total-count {
    background-color: #AFB42B;
  }
}

.header.custom {
  background-color: #AFB42B;
}

.header.custom .dropdown.header-dropdown .dropdown-menu {
  border-color: #979b25;
  background-color: #AFB42B;
}

.header.custom .dropdown.header-dropdown .dropdown-menu > li > a:hover, .header.custom .dropdown.header-dropdown .dropdown-menu > li > a:focus {
  background-color: #878b21;
}

.header.custom .header-top:not(.dark) {
  border-color: #9b9f26;
}

.header.custom .header-top:not(.dark) .header-dropdown > a {
  background-color: #b7bc2d;
  border-color: #c3c930;
}

.header.custom .header-top:not(.dark) .header-dropdown:nth-of-type(2n) > a {
  background-color: #a7ac29;
}

.header.custom .header-top:not(.dark) .header-dropdown.open > a, .header.custom .header-top:not(.dark) .header-dropdown:hover > a, .header.custom .header-top:not(.dark) .header-dropdown:focus > a {
  background-color: #9b9f26;
  border-color: #a7ac29;
}

.header.custom .header-top:not(.dark) .top-menu li a:before {
  background-color: #d1d551;
}

.header.custom .header-top:not(.dark) .top-menu li + li:before {
  color: #8f9323;
}

.header.custom .header-top:not(.dark) .top-menu li.active a, .header.custom .header-top:not(.dark) .top-menu li:hover a, .header.custom .header-top:not(.dark) .top-menu li:focus a {
  color: #d7db6a;
}

.header.custom .header-top:not(.dark) .top-links a:hover, .header.custom .header-top:not(.dark) .top-links a:focus {
  color: #d7db6a;
}

.header.custom .header-top:not(.dark) .social-icons .social-icon {
  border-color: #9b9f26;
}

.header.custom .header-top:not(.dark) .social-icons .social-icon:hover, .header.custom .header-top:not(.dark) .social-icons .social-icon:focus {
  background-color: #878b21;
  border-color: #878b21;
}

.header.custom .header-info-boxes .header-info-box i:not(.dark) {
  color: #AFB42B;
}

.header.custom .header-info-boxes .header-info-box + .header-info-box:before {
  background-color: #939724;
}

.header.custom .dropdown.cart-dropdown > a .dcart-total-count {
  background-color: #AFB42B;
}

.header.custom .dropdown.cart-dropdown.open > a, .header.custom .dropdown.cart-dropdown:hover > a, .header.custom .dropdown.cart-dropdown:focus > a {
  color: #8f9323;
}

.header.custom .dropdown.cart-dropdown.open > a .dcart-total-count, .header.custom .dropdown.cart-dropdown:hover > a .dcart-total-count, .header.custom .dropdown.cart-dropdown:focus > a .dcart-total-count {
  color: #AFB42B;
}

.header.custom .dropdown.cart-dropdown .dropdown-menu .product .delete-btn {
  background-color: #9fa427;
}

.header.custom .dropdown.cart-dropdown .dropdown-menu .product .delete-btn:hover, .header.custom .dropdown.cart-dropdown .dropdown-menu .product .delete-btn:focus {
  background-color: #8f9323;
}

.header.custom .dropdown.cart-dropdown .dcart-products {
  border-color: #8f9323;
}

.header.custom .header-bottom:not(.dark) {
  background-color: #878b21;
}

@media (min-width: 768px) {
  .header.custom .navbar-nav:not(.nav-overlay) > li > a:before,
  .header.custom .header-bottom .navbar-nav > li > a:before {
    background-color: #878b21;
  }
  .header.custom .navbar-nav:not(.nav-overlay) > li.open > a, .header.custom .navbar-nav:not(.nav-overlay) > li.open > a:hover, .header.custom .navbar-nav:not(.nav-overlay) > li.open > a:focus, .header.custom .navbar-nav:not(.nav-overlay) > li.active > a, .header.custom .navbar-nav:not(.nav-overlay) > li.active > a:hover, .header.custom .navbar-nav:not(.nav-overlay) > li.active > a:focus,
  .header.custom .header-bottom .navbar-nav > li.open > a,
  .header.custom .header-bottom .navbar-nav > li.open > a:hover,
  .header.custom .header-bottom .navbar-nav > li.open > a:focus,
  .header.custom .header-bottom .navbar-nav > li.active > a,
  .header.custom .header-bottom .navbar-nav > li.active > a:hover,
  .header.custom .header-bottom .navbar-nav > li.active > a:focus {
    background: #AFB42B;
  }
}

@media (min-width: 768px) {
  .header.custom .navbar-nav:not(.nav-overlay) .cart-dropdown > a .dcart-total-count,
  .header.custom .header-bottom .navbar-nav .cart-dropdown > a .dcart-total-count {
    background-color: #AFB42B;
  }
}

.header.custom .navbar-nav:not(.nav-overlay) .cart-dropdown.open > a .dcart-total-count, .header.custom .navbar-nav:not(.nav-overlay) .cart-dropdown:hover > a .dcart-total-count, .header.custom .navbar-nav:not(.nav-overlay) .cart-dropdown:focus > a .dcart-total-count,
.header.custom .header-bottom .navbar-nav .cart-dropdown.open > a .dcart-total-count,
.header.custom .header-bottom .navbar-nav .cart-dropdown:hover > a .dcart-total-count,
.header.custom .header-bottom .navbar-nav .cart-dropdown:focus > a .dcart-total-count {
  color: #AFB42B;
}

.header.custom .navbar-nav:not(.nav-overlay) .dropdown-menu,
.header.custom .header-bottom .navbar-nav .dropdown-menu {
  background: #AFB42B;
}

.header.custom .navbar-nav:not(.nav-overlay) .dropdown-menu > li > a:hover, .header.custom .navbar-nav:not(.nav-overlay) .dropdown-menu > li > a:focus,
.header.custom .header-bottom .navbar-nav .dropdown-menu > li > a:hover,
.header.custom .header-bottom .navbar-nav .dropdown-menu > li > a:focus {
  background-color: #878b21;
}

.header.custom .navbar-nav:not(.nav-overlay) .dropdown-menu > li.open > a, .header.custom .navbar-nav:not(.nav-overlay) .dropdown-menu > li.open > a:hover, .header.custom .navbar-nav:not(.nav-overlay) .dropdown-menu > li.open > a:focus,
.header.custom .header-bottom .navbar-nav .dropdown-menu > li.open > a,
.header.custom .header-bottom .navbar-nav .dropdown-menu > li.open > a:hover,
.header.custom .header-bottom .navbar-nav .dropdown-menu > li.open > a:focus {
  background-color: #878b21;
}

@media (max-width: 767px) {
  .header.custom .navbar-nav:not(.nav-overlay) .dropdown-menu.megamenu [class*="col-"]:not(:last-child),
  .header.custom .header-bottom .navbar-nav .dropdown-menu.megamenu [class*="col-"]:not(:last-child) {
    border-color: #878b21;
  }
}

.header.custom .navbar-nav:not(.nav-overlay) .dropdown-menu.megamenu a:hover, .header.custom .navbar-nav:not(.nav-overlay) .dropdown-menu.megamenu a:focus,
.header.custom .header-bottom .navbar-nav .dropdown-menu.megamenu a:hover,
.header.custom .header-bottom .navbar-nav .dropdown-menu.megamenu a:focus {
  background-color: #878b21;
}

@media (max-width: 767px) {
  .header.custom .navbar-nav {
    background-color: #AFB42B;
  }
  .header.custom .navbar-nav > li.open > a, .header.custom .navbar-nav > li.open > a:hover, .header.custom .navbar-nav > li.open > a:focus, .header.custom .navbar-nav > li.active > a, .header.custom .navbar-nav > li.active > a:hover, .header.custom .navbar-nav > li.active > a:focus {
    background: #8f9323;
  }
  .header.custom .navbar-nav > li > a:hover, .header.custom .navbar-nav > li > a:focus {
    background: #878b21;
  }
}

.header.custom .navbar-toggle,
.header.custom .menu-toggle,
.header.custom .sidemenu-toggle {
  background-color: #AFB42B;
  border-color: #AFB42B;
}

.header.custom .navbar-toggle:hover, .header.custom .navbar-toggle:focus,
.header.custom .menu-toggle:hover,
.header.custom .menu-toggle:focus,
.header.custom .sidemenu-toggle:hover,
.header.custom .sidemenu-toggle:focus {
  background-color: #7f831f;
  border-color: #7f831f;
}

.header.custom .side-menu li.active > a,
.header.custom .side-menu li.active > a:hover,
.header.custom .side-menu li.active > a:focus, .header.custom .side-menu li:hover > a,
.header.custom .side-menu li:hover > a:hover,
.header.custom .side-menu li:hover > a:focus, .header.custom .side-menu li:focus > a,
.header.custom .side-menu li:focus > a:hover,
.header.custom .side-menu li:focus > a:focus {
  color: #d5d961;
}

@media (max-width: 767px) {
  .header.header2.custom .navbar-nav {
    background-color: #9b9f26;
  }
}

.header.header2.custom .navbar-nav > li.open > a, .header.header2.custom .navbar-nav > li.open > a:hover, .header.header2.custom .navbar-nav > li.open > a:focus, .header.header2.custom .navbar-nav > li.active > a, .header.header2.custom .navbar-nav > li.active > a:hover, .header.header2.custom .navbar-nav > li.active > a:focus {
  background: #8f9323;
}

@media (min-width: 768px) {
  .header.header2.custom .navbar-nav .dropdown-menu {
    border-top-color: #9fa427;
  }
}

.header.header2.custom .navbar-nav .dropdown.cart-dropdown > a .dcart-total-count {
  background-color: #AFB42B;
}

.header.header2.custom .navbar-toggle {
  background-color: #979b25;
  border-color: #979b25;
}

.header.header2.custom .navbar-toggle:hover, .header.header2.custom .navbar-toggle:focus {
  background-color: #7f831f;
  border-color: #7f831f;
}

.header.header3.custom .social-icons .social-icon {
  background-color: #979b25;
}

.header.header3.custom .social-icons .social-icon:hover, .header.header3.custom .social-icons .social-icon:focus {
  background-color: #7f831f;
}

@media (min-width: 992px) {
  .header.header5.custom .header-top:not(.dark) {
    background-color: #8f9323;
  }
}

.header.dark .header-top:not(.custom) .header-dropdown.open > a, .header.dark .header-top:not(.custom) .header-dropdown:hover > a, .header.dark .header-top:not(.custom) .header-dropdown:focus > a {
  background-color: #AFB42B;
  border-color: #AFB42B;
}

.header.dark .header-top:not(.custom) .top-menu li a:before {
  background-color: #AFB42B;
}

.header.dark .header-top:not(.custom) .top-menu li.active a, .header.dark .header-top:not(.custom) .top-menu li:hover a, .header.dark .header-top:not(.custom) .top-menu li:focus a {
  color: #AFB42B;
}

.header.dark .header-top:not(.custom) .top-links a:hover, .header.dark .header-top:not(.custom) .top-links a:focus {
  color: #d7db6a;
}

.header.dark .header-top:not(.custom) .social-icons .social-icon:hover, .header.dark .header-top:not(.custom) .social-icons .social-icon:focus {
  background-color: #AFB42B;
  border-color: #AFB42B;
}

.header.dark .dropdown.cart-dropdown > a {
  color: #AFB42B;
}

.header.dark .dropdown.cart-dropdown > a .dcart-total-count {
  color: #AFB42B;
}

.header.dark .dropdown.cart-dropdown.open > a, .header.dark .dropdown.cart-dropdown:hover > a, .header.dark .dropdown.cart-dropdown:focus > a {
  color: #8f9323;
}

.header.dark .dropdown.cart-dropdown.open > a .dcart-total-count, .header.dark .dropdown.cart-dropdown:hover > a .dcart-total-count, .header.dark .dropdown.cart-dropdown:focus > a .dcart-total-count {
  color: #AFB42B;
}

.header.dark .dropdown.cart-dropdown .dropdown-menu .product .delete-btn {
  background-color: #AFB42B;
}

.header.dark .dropdown.cart-dropdown .dropdown-menu .product .delete-btn:hover, .header.dark .dropdown.cart-dropdown .dropdown-menu .product .delete-btn:focus {
  background-color: #9b9f26;
}

@media (min-width: 768px) {
  .header.dark .navbar-nav:not(.nav-overlay) > li > a:before,
  .header.dark .header-bottom .navbar-nav > li > a:before {
    background-color: #AFB42B;
  }
}

.header.dark .navbar-nav:not(.nav-overlay) .cart-dropdown.open > a .dcart-total-count, .header.dark .navbar-nav:not(.nav-overlay) .cart-dropdown:hover > a .dcart-total-count, .header.dark .navbar-nav:not(.nav-overlay) .cart-dropdown:focus > a .dcart-total-count,
.header.dark .header-bottom .navbar-nav .cart-dropdown.open > a .dcart-total-count,
.header.dark .header-bottom .navbar-nav .cart-dropdown:hover > a .dcart-total-count,
.header.dark .header-bottom .navbar-nav .cart-dropdown:focus > a .dcart-total-count {
  color: #AFB42B;
}

.header.dark .navbar-nav:not(.nav-overlay) .dropdown-menu > li > a:hover, .header.dark .navbar-nav:not(.nav-overlay) .dropdown-menu > li > a:focus,
.header.dark .header-bottom .navbar-nav .dropdown-menu > li > a:hover,
.header.dark .header-bottom .navbar-nav .dropdown-menu > li > a:focus {
  background-color: #AFB42B;
}

.header.dark .navbar-nav:not(.nav-overlay) .dropdown-menu > li.open > a, .header.dark .navbar-nav:not(.nav-overlay) .dropdown-menu > li.open > a:hover, .header.dark .navbar-nav:not(.nav-overlay) .dropdown-menu > li.open > a:focus,
.header.dark .header-bottom .navbar-nav .dropdown-menu > li.open > a,
.header.dark .header-bottom .navbar-nav .dropdown-menu > li.open > a:hover,
.header.dark .header-bottom .navbar-nav .dropdown-menu > li.open > a:focus {
  background-color: #AFB42B;
}

.header.dark .navbar-nav:not(.nav-overlay) .dropdown-menu.megamenu a:hover, .header.dark .navbar-nav:not(.nav-overlay) .dropdown-menu.megamenu a:focus,
.header.dark .header-bottom .navbar-nav .dropdown-menu.megamenu a:hover,
.header.dark .header-bottom .navbar-nav .dropdown-menu.megamenu a:focus {
  background-color: #AFB42B;
}

@media (max-width: 767px) {
  .header.dark .navbar-nav > li.open > a, .header.dark .navbar-nav > li.open > a:hover, .header.dark .navbar-nav > li.open > a:focus, .header.dark .navbar-nav > li.active > a, .header.dark .navbar-nav > li.active > a:hover, .header.dark .navbar-nav > li.active > a:focus {
    background: #AFB42B;
  }
  .header.dark .navbar-nav > li > a:hover, .header.dark .navbar-nav > li > a:focus {
    background: #AFB42B;
  }
}

.header.header2.dark .navbar-nav > li.open > a, .header.header2.dark .navbar-nav > li.open > a:hover, .header.header2.dark .navbar-nav > li.open > a:focus, .header.header2.dark .navbar-nav > li.active > a, .header.header2.dark .navbar-nav > li.active > a:hover, .header.header2.dark .navbar-nav > li.active > a:focus {
  background: #AFB42B;
}

.header.header2.dark .navbar-nav .dropdown.cart-dropdown > a .dcart-total-count {
  background-color: #AFB42B;
}

.header.header3.dark .social-icons .social-icon:hover, .header.header3.dark .social-icons .social-icon:focus {
  background-color: #AFB42B;
}

.sk-wave .sk-rect {
  background-color: #AFB42B;
}

#portfolio-filter li:before {
  background-color: #AFB42B;
}

#portfolio-filter li a:hover, #portfolio-filter li a:focus {
  color: #AFB42B;
}

#portfolio-filter li.active a {
  color: #AFB42B;
}

.portfolio-item a:hover, .portfolio-item a:focus {
  color: #AFB42B;
}

.portfolio-item .zoom-btn {
  background-color: rgba(175, 180, 43, 0.6);
}

.portfolio-item .zoom-btn:hover, .portfolio-item .zoom-btn:focus {
  background-color: rgba(175, 180, 43, 0.88);
}

.portfolio-item .portfolio-tags a:hover, .portfolio-item .portfolio-tags a:focus {
  color: #AFB42B;
}

.portfolio-item.portfolio-anim {
  background-color: #AFB42B;
}

.portfolio-item.portfolio-anim .portfolio-tags a {
  color: #d2d655;
}

.pricing-table header {
  background-color: #AFB42B;
}

.pricing-table header .pricing-title {
  border-bottom-color: #c3c930;
}

.pricing-table .badge.hot {
  background-color: #FDD835;
}

.pricing-table.dark .badge.hot {
  background-color: #AFB42B;
}

.product .product-title a:hover, .product .product-title a:focus {
  color: #AFB42B;
}

.product .btn.product-add-btn {
  background-color: #AFB42B;
}

.product .btn.product-add-btn:hover, .product .btn.product-add-btn:focus {
  background-color: #878b21;
}

.product-gallery a:hover, .product-gallery a:focus {
  background-color: #AFB42B;
}

.testimonials-container .owl-dot.active {
  background-color: #AFB42B !important;
  border-color: #AFB42B !important;
}

.testimonials-container.bg-custom .testimonial {
  color: #dde07e;
}

.testimonials-container.bg-custom .owl-dot.active {
  background-color: #878b21 !important;
  border-color: #878b21 !important;
}

.testimonials-container.bg-custom2 .testimonial {
  color: #fef0b3;
}

.testimonials-container.bg-custom2 .owl-dot.active {
  background-color: #fdce03 !important;
  border-color: #fdce03 !important;
}

.owl-dot:hover, .owl-dot:focus, .owl-dot.active {
  background-color: #AFB42B;
  border-color: #AFB42B;
}

.bg-custom .owl-dot:hover, .bg-custom .owl-dot:focus, .bg-custom .owl-dot.active {
  background-color: #878b21;
  border-color: #878b21;
}

.bg-lightgray .owl-dot:hover, .bg-lightgray .owl-dot:focus, .bg-lightgray .owl-dot.active,
.bg-gray .owl-dot:hover,
.bg-gray .owl-dot:focus,
.bg-gray .owl-dot.active {
  background-color: #AFB42B;
  border-color: #AFB42B;
}

.owl-prev:hover, .owl-prev:focus,
.owl-next:hover,
.owl-next:focus {
  border-color: #AFB42B;
  background-color: #AFB42B;
}

.error-page h1 {
  color: #AFB42B;
}

.member .member-top {
  background-color: #AFB42B;
}

.member .member-top .social-icons .social-icon:hover, .member .member-top .social-icons .social-icon:focus {
  color: #FDD835;
}

.member .member-title small {
  color: #AFB42B;
}

.member span {
  color: #AFB42B;
}

.sync-carousel.owl-carousel .owl-item.center img {
  border-color: #AFB42B;
}

.entry .entry-media {
  background-color: #AFB42B;
}

.entry .entry-title i {
  background-color: #AFB42B;
}

.entry .entry-title a:hover, .entry .entry-title a:focus {
  color: #AFB42B;
}

.entry.entry-list-sm .entry-meta a:hover, .entry.entry-list-sm .entry-meta a:focus {
  color: #AFB42B;
}

.sidebar .widget a:hover, .sidebar .widget a:focus {
  color: #AFB42B;
}

.sidebar .widget.search-widget .btn:hover, .sidebar .widget.search-widget .btn:focus {
  color: #AFB42B;
}

.sidebar .widget .fa-ul li:after {
  background-color: #AFB42B;
}

.sidebar .widget .tagcloud a:hover, .sidebar .widget .tagcloud a:focus {
  background-color: #AFB42B;
}

.single .entry:not(.entry-grid) > .entry-meta a:hover, .single .entry:not(.entry-grid) > .entry-meta a:focus {
  color: #AFB42B;
}

.single .entry-author a:hover, .single .entry-author a:focus {
  color: #AFB42B;
}

.single .entry-author .author-content .social-icon:hover, .single .entry-author .author-content .social-icon:focus {
  color: #AFB42B;
}

.category-widget-btn {
  color: #AFB42B;
}

.filter-size-box.active, .filter-size-box:hover, .filter-size-box:focus {
  background-color: #AFB42B;
}

.filter-brand-list a:hover, .filter-brand-list a:focus {
  color: #AFB42B;
}

.noUi-connect {
  background: #AFB42B;
}

.soon-nav-container .soon-nav .soon-menu li.active a {
  background-color: rgba(175, 180, 43, 0.84);
}

.close-sections-btn:hover, .close-sections-btn:focus {
  background-color: #AFB42B;
}

.dark .soon-nav-container .soon-nav .soon-menu li.active a {
  background-color: rgba(175, 180, 43, 0.84);
}

.dark .close-sections-btn:hover, .dark .close-sections-btn:focus {
  background-color: #AFB42B;
}

.dark .soon-section .service:hover i.icon-bg, .dark .soon-section .service:focus i.icon-bg {
  background-color: #979b25;
}

.dark .soon-section .contact-box .social-icons .social-icon:hover, .dark .soon-section .contact-box .social-icons .social-icon:focus {
  color: #AFB42B;
}

.dark .soon-section .contact-box a:hover,
.dark .soon-section .contact-box a:focus {
  color: #9fa427;
}

.contact-box .social-icon:hover, .contact-box .social-icon:focus {
  color: #AFB42B;
}

.sidebar.faqs-sidebar .widget .faqs-cat-list li a:hover, .sidebar.faqs-sidebar .widget .faqs-cat-list li a:focus {
  color: #AFB42B;
}

.footer .widget .tagcloud a:hover, .footer .widget .tagcloud a:focus {
  background-color: #AFB42B;
}

.footer .widget.instagram-widget .btn.btn-follow {
  background-color: #AFB42B;
  border-color: #AFB42B;
}

.footer .widget.instagram-widget .btn.btn-follow:hover, .footer .widget.instagram-widget .btn.btn-follow:focus {
  background-color: #AFB42B;
  border-color: #AFB42B;
}

.footer-bottom .copyright a {
  color: #AFB42B;
}

.footer-bottom .copyright a:hover, .footer-bottom .copyright a:focus {
  color: #878b21;
}

.footer-bottom .footer-menu li.active a {
  color: #AFB42B;
}

#scroll-top {
  background-color: #AFB42B;
}

#scroll-top:hover, #scroll-top:focus {
  background-color: #878b21;
}

.btn.btn-custom {
  color: #fff;
  background-color: #AFB42B;
  border-color: #AFB42B;
}

.btn.btn-custom:hover, .btn.btn-custom:focus {
  color: #fff;
  background-color: #878b21;
  border-color: #878b21;
}

.btn.btn-custom.btn-border {
  color: #AFB42B;
  background-color: transparent;
  border-color: #AFB42B;
}

.btn.btn-custom.btn-border:hover, .btn.btn-custom.btn-border:focus {
  color: #fff;
  background-color: #AFB42B;
  border-color: #AFB42B;
}

.btn.btn-custom2 {
  color: #fff;
  background-color: #FDD835;
  border-color: #FDD835;
}

.btn.btn-custom2:hover, .btn.btn-custom2:focus {
  color: #fff;
  background-color: #fdce03;
  border-color: #fdce03;
}

.btn.btn-custom2.btn-border {
  color: #FDD835;
  background-color: transparent;
  border-color: #FDD835;
}

.btn.btn-custom2.btn-border:hover, .btn.btn-custom2.btn-border:focus {
  color: #fff;
  background-color: #FDD835;
  border-color: #FDD835;
}

.btn.btn-white.btn-border:hover, .btn.btn-white.btn-border:focus {
  background-color: #AFB42B;
  border-color: #AFB42B;
}

.callout.callout-half.custom .form-control {
  background-color: #9b9f26;
  border-color: #878b21;
}

.callout.callout-half.custom .form-control:focus {
  border-color: #7b7e1e;
}

@media (min-width: 768px) {
  .callout.callout-half.custom:before {
    background-color: #9fa427;
  }
}

.callout.custom {
  background-color: #AFB42B;
  color: #d7db6a;
}

.callout.custom small {
  color: #d7db6a;
}

.panel.panel-custom .panel-heading a {
  background-color: #AFB42B;
  border-color: #9b9f26;
}

.panel.panel-custom .panel-heading a:hover, .panel.panel-custom .panel-heading a:focus {
  background-color: #9b9f26;
  border-color: #878b21;
}

.count {
  color: #AFB42B;
}

.count-icon {
  color: #AFB42B;
}

.count-icon.custom {
  background-color: #AFB42B;
}

.count-box.custom {
  background-color: #AFB42B;
}

.count-box.custom .count-icon {
  background-color: #878b21;
}

.count-box.custom:hover {
  background-color: #9fa427;
}

.count-box.dark .count {
  color: #AFB42B;
}

.count-box.dark .count-icon {
  background-color: #AFB42B;
}

.form-control:focus {
  border-color: #AFB42B;
}

.textarea-container .form-control:focus {
  border-top-color: #AFB42B;
}

.custom-checkbox-container .custom-checkbox-icon {
  color: #AFB42B;
}

.custom-radio-container .custom-radio-icon {
  background-color: #AFB42B;
}

.carousel-control {
  background-color: rgba(175, 180, 43, 0.5);
}

.modal-content .modal-header {
  background-color: #AFB42B;
}

.breadcrumb li a {
  color: #AFB42B;
}

.breadcrumb li a:hover, .breadcrumb li a:focus {
  color: #878b21;
}

.page-header.custom {
  background-color: #AFB42B;
  color: #ccd141;
  border-color: #c3c930;
}

.page-header.custom .breadcrumb li a {
  color: #e4e79b;
}

.page-header.custom .breadcrumb li a:hover, .page-header.custom .breadcrumb li a:focus {
  color: #fff;
}

.page-header.custom .breadcrumb li + li:before {
  color: #d5d961;
}

.page-header.custom.parallax:before, .page-header.custom.bg-image:before {
  background-color: #AFB42B;
}

.page-header.custom2 {
  background-color: #FDD835;
  color: #fee268;
  border-color: #fddd4e;
}

.page-header.custom2 .breadcrumb li a {
  color: #feefae;
}

.page-header.custom2 .breadcrumb li a:hover, .page-header.custom2 .breadcrumb li a:focus {
  color: #fff;
}

.page-header.custom2 .breadcrumb li + li:before {
  color: #feea90;
}

.page-header.custom2.parallax:before, .page-header.custom2.bg-image:before {
  background-color: #FDD835;
}

.pagination > li.active > a, .pagination > li.active > a:hover, .pagination > li.active > a:focus,
.pagination > li.active > span,
.pagination > li.active > span:hover,
.pagination > li.active > span:focus {
  background-color: #AFB42B;
  border-color: #AFB42B;
}

.progress-container .progress-title {
  color: #AFB42B;
}

.progress .progress-bar {
  background-color: #AFB42B;
}

.progress .progress-bar.gradient1 {
  background: linear-gradient(to right, #AFB42B 0%, #FDD835 100%);
  background-color: #AFB42B;
}

.progress .progress-bar.gradient2 {
  background: linear-gradient(to right, #FDD835 0%, #AFB42B 100%);
  background-color: #FDD835;
}

.progress .progress-bar.custom {
  background-color: #AFB42B;
}

.progress .progress-bar.custom2 {
  background-color: #FDD835;
}

.service i.custom {
  color: #AFB42B;
}

.service i.custom2 {
  color: #FDD835;
}

.service i.icon-bg.custom {
  background-color: #AFB42B;
}

.service i.icon-bg.custom2 {
  background-color: #FDD835;
}

.service.service-box:hover {
  background-color: #AFB42B !important;
}

.service.service-box:hover .icon-bg {
  background-color: #878b21;
}

.service.service-box.custom:not(.service-border) {
  background-color: #AFB42B !important;
}

.service.service-box.custom:not(.service-border) .icon-bg {
  background-color: #878b21;
}

.service.service-box.custom:not(.service-border):hover {
  background-color: #878b21 !important;
}

.service.service-box.custom:not(.service-border):hover .icon-bg {
  background-color: #5f6217;
}

.service.service-box.custom2:not(.service-border) {
  background-color: #FDD835 !important;
}

.service.service-box.custom2:not(.service-border) .icon-bg {
  background-color: #fdce03;
}

.service.service-box.custom2:not(.service-border):hover {
  background-color: #fdce03 !important;
}

.service.service-box.custom2:not(.service-border):hover .icon-bg {
  background-color: #caa502;
}

.service.service-border:hover {
  border-color: #878b21;
}

.service.service-border.custom {
  border-color: #AFB42B;
}

.service.service-border.custom .icon-bg {
  background-color: #AFB42B;
}

.service.service-border.custom:hover {
  background-color: #AFB42B !important;
  border-color: #878b21;
}

.service.service-border.custom:hover .icon-bg {
  background-color: #878b21;
}

.service.service-border.custom2 {
  border-color: #FDD835;
}

.service.service-border.custom2 .icon-bg {
  background-color: #FDD835;
}

.service.service-border.custom2:hover {
  background-color: #FDD835 !important;
  border-color: #fdce03;
}

.service.service-border.custom2:hover .icon-bg {
  background-color: #fdce03;
}

.service.icon-left:hover .icon-bg {
  background-color: #AFB42B;
}

.service.icon-left:hover .icon-bg.custom {
  background-color: #878b21;
}

.service.icon-left:hover .icon-bg.custom2 {
  background-color: #fdce03;
}

.services-group.custom .service-row:nth-child(2n) .service.service-box {
  background-color: #9fa427;
}

.services-group.custom .service-row:nth-child(2n) .service.service-box:nth-child(2n) {
  background-color: #AFB42B;
}

.services-group.custom .service-row:nth-child(2n+1) .service.service-box {
  background-color: #AFB42B;
}

.services-group.custom .service-row:nth-child(2n+1) .service.service-box:nth-child(2n) {
  background-color: #9fa427;
}

.services-group.custom .service .icon-bg {
  background-color: #878b21;
}

.services-group.custom .service:hover {
  background-color: #939724 !important;
}

.table thead > tr {
  border-top-color: #AFB42B;
  border-bottom-color: #AFB42B;
}

.table thead > tr > th {
  background-color: #AFB42B;
}

.table.table-bordered > thead > tr > th,
.table.table-bordered > thead > tr > td {
  border-color: #ccd141;
}

.nav-tabs li a:before {
  background-color: #AFB42B;
}

.nav-pills > li.active a,
.nav-pills > li.active a:hover,
.nav-pills > li.active a:focus {
  background-color: #AFB42B;
}

.text-block .block-title a:hover, .text-block .block-title a:focus {
  color: #AFB42B;
}

.text-block .block-icon.custom {
  background-color: #AFB42B;
}

.text-block .block-icon.custom2 {
  background-color: #FDD835;
}

.text-block .fa-ul li a:hover, .text-block .fa-ul li a:focus {
  color: #AFB42B;
}

.text-block .readmore:hover, .text-block .readmore:focus, .text-block .readmore.custom {
  background-color: #AFB42B;
}

.text-block .readmore.custom:hover, .text-block .readmore.custom:focus {
  background-color: #9b9f26;
}

.text-block .readmore.custom2 {
  background-color: #FDD835;
}

.text-block .readmore.custom2:hover, .text-block .readmore.custom2:focus {
  background-color: #fdd31c;
}

.text-block.hover-bg:after {
  background-color: #AFB42B;
}

.text-block.hover-bg.custom2:after {
  background-color: #FDD835;
}

.text-block.hover-bg.light a:not(.readmore):hover, .text-block.hover-bg.light a:not(.readmore):focus, .text-block.hover-bg:hover a:not(.readmore):hover, .text-block.hover-bg:hover a:not(.readmore):focus, .text-block.hover-bg:focus a:not(.readmore):hover, .text-block.hover-bg:focus a:not(.readmore):focus {
  color: #FDD835;
}

.title.custom:after {
  background-color: #AFB42B;
}

.title.custom2:after {
  background-color: #FDD835;
}

.title-border.custom, .title-border.text-right.custom,
.title-border.text-center.custom > span {
  border-color: #AFB42B;
}

.title-bottom-border.custom {
  border-color: #AFB42B;
}

.title-border.title-bg.custom,
.title-bg-line.custom:after,
.bg-custom .title-border > span {
  background-color: #AFB42B;
}

.title-border.title-bg.custom2,
.title-bg-line.custom2:after,
.bg-custom2 .title-border > span {
  background-color: #FDD835;
}

.featured-entry a:hover, .featured-entry a:focus {
  color: #AFB42B;
}

.fotorama__thumb-border {
  border-color: #AFB42B;
}

.info-boxes-container.custom {
  background-color: #AFB42B;
  border-color: #c9cf34;
}

.info-boxes-container.custom .info-box {
  border-color: #c9cf34;
}

@media (min-width: 768px) {
  .info-boxes-container.custom .info-box {
    border-color: #c9cf34;
  }
}

.info-boxes-container.custom .info-box:nth-child(2n) {
  background-color: #9fa427;
}

.info-boxes-container.custom .info-box-content {
  color: #dcdf7a;
}

.contact-info-area i {
  background-color: #AFB42B;
}

@media (min-width: 992px) {
  #fullpage-menu li.active a, #fullpage-menu li:hover a, #fullpage-menu li:focus a {
    color: #AFB42B;
  }
  #fullpage-menu li.active a:after, #fullpage-menu li:hover a:after, #fullpage-menu li:focus a:after {
    background-color: #AFB42B;
  }
}

.main-slide .main-slide-content h2 a:hover, .main-slide .main-slide-content h2 a:focus {
  color: #AFB42B;
}

.main-slide .main-slide-content .main-slide-tags a:hover, .main-slide .main-slide-content .main-slide-tags a:focus {
  color: #AFB42B;
}

.featured-entry-slider .owl-next:hover:after, .featured-entry-slider .owl-next:focus:after,
.featured-entry-slider .owl-prev:hover:after,
.featured-entry-slider .owl-prev:focus:after {
  background-color: #AFB42B;
}

.cause .cause-label {
  background-color: rgba(175, 180, 43, 0.8);
}

.cause .cause-title a:hover, .cause .cause-title a:focus {
  color: #AFB42B;
}

.slider-container-dentist {
  background-color: #AFB42B;
}

.event-count-container {
  background-color: #AFB42B;
}

.event-part h4 a:hover, .event-part h4 a:focus, .event-part h3 a:hover, .event-part h3 a:focus {
  color: #AFB42B;
}

.map-address-overlay .overlay-address .contact-info-area a:hover, .map-address-overlay .overlay-address .contact-info-area a:focus {
  color: #AFB42B;
}

.room .room-title a:hover, .room .room-title a:focus {
  color: #AFB42B;
}

.feature-row h2 a:hover, .feature-row h2 a:focus {
  color: #AFB42B;
}

.main-slide .main-slide-content h2 a:hover, .main-slide .main-slide-content h2 a:focus {
  color: #AFB42B;
}

.main-slide .main-slide-content .main-slide-tags a:hover, .main-slide .main-slide-content .main-slide-tags a:focus {
  color: #AFB42B;
}

.fancy-subtitle {
  color: #AFB42B;
}

.about-gallery-grid .gallery-grid-btn {
  background-color: #AFB42B;
}

.about-gallery-grid .gallery-grid-btn:hover, .about-gallery-grid .gallery-grid-btn:focus {
  background-color: #9b9f26;
}

.menu-item .menu-item-price {
  color: #AFB42B;
}

.menu-item a:hover, .menu-item a:focus {
  color: #AFB42B;
}

.menu-col-title {
  border-top-color: #AFB42B;
  border-color: #AFB42B;
}

.nav.nav-links > li.active > a {
  background-color: #AFB42B;
}

.main-top-slider .owl-next:hover, .main-top-slider .owl-next:focus,
.main-top-slider .owl-prev:hover,
.main-top-slider .owl-prev:focus {
  background-color: #AFB42B;
}
