<div class="main">
    <div class="page-header larger parallax custom" style="background-image:url(assets/images/page-header-bg.jpg)">
        <div class="container">
            <h1>Error Page <small>(404)</small></h1>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li class="active">404 Page</li>
            </ol>
        </div><!-- End .container -->
    </div><!-- End .page-header -->

    <div class="error-page text-center">
        <div class="container">
            <h1>401</h1>
            <h2>USUARIO INACTIVO</h2>
            <p>Este usuario aún está pendeinte de activación, regrese mas tarde, o pongase en contacto con el departamento de calida del Ministerio de la Administración Pública de la República Dominicana.</p>
            <a href="@Url.Action("Index", "Home")" class="btn btn-custom2 btn-lg min-width">Regresar al inicio</a>
        </div><!-- End .container -->
    </div><!-- End .error-page -->
</div><!-- End .main -->
