<div class="main">
    <div class="error-page text-center">
        <div class="container">
            <h1>403</h1>
            <h2>Acceso Denegado</h2>
            <p>Su rol no le permite acceder a la parte administrativa de esta aplicación, si se acaba de registrar y está intentando ingresar, debe esperar a que le llegue un correo con la invitación para la aplicación, o puede ponerese en contacto con el persona de Premio del Ministerio de Administración Pública de la República Dominicana.</p>
            <a href="@Url.Action("Index", "Home")" class="btn btn-custom2 btn-lg min-width">Regresar al inicio</a>
        </div><!-- End .container -->
    </div><!-- End .error-page -->
</div><!-- End .main -->
