/* Homepages - Index Construction */
@import '../mixins';
@import '../variables';

.slider-container-construction {
	background-color: #e1e1e1;

	@media (min-width: $minmqlg) {
		height: 680px;
	}

	.tp-caption {
		strong {
			font-weight: 700 !important;
		}
	}
}

.services-group {
	@media (min-width: $minmqmd) {
		margin-top:-100px;
		margin-bottom:60px;
	}

	@media (min-width: $minmqlg) {
		margin-bottom:70px;
	}

	@media (max-width: $maxmqmd) {
		margin-bottom:40px;
	}
}

.quick-gallery-showcase  {
	.portfolio-item {
		margin:0;
		width:50%;

		@media (min-width: $minmqxs) {
			width: 33.3%;
		}

		@media (min-width: $minmqsm) {
			width: 25%;
		}
	}
}

textarea.form-control {
	min-height:120px;
}

.widget.hours-widget {
	ul {
		li {
			padding-bottom:4px;
			margin-bottom:4px;
			border-bottom:1px dotted rgba(255, 255, 255, 0.2);
			em {
				float:right;
			}

			&:after {
				content: '';
				display: table;
				clear:both;
			}
		}

	}
}