/* Homepages - Index Construction 2 */
.slider-container-construction2 {
  background-color: #171717;
  height: 100vh;
}

.slider-container-construction2 .tp-caption strong {
  font-weight: 700 !important;
}

.text-block.hover-bg {
  margin-bottom: 0;
  padding: 25px 15px;
  box-shadow: inset 0 0 0 6px rgba(255, 255, 255, 0.3);
}

.portfolio-item {
  margin-bottom: 0;
}
