/* Homepages - Index Charity */
.slider-container-charity {
  background-color: #111;
}

@media (min-width: 1200px) {
  .slider-container-charity {
    height: 600px;
  }
}

.slider-container-charity .tp-caption strong {
  font-weight: 700 !important;
}

.title:after {
  height: 1px;
}

.cause {
  position: relative;
  margin-bottom: 35px;
}

.cause .cause-label {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: rgba(0, 105, 176, 0.8);
  color: #fff;
  font-size: 13px;
  padding: 4px 9px;
  z-index: 99;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .cause .cause-label {
    font-size: 14px;
    padding: 5px 12px;
    right: 15px;
    bottom: 15px;
  }
}

.cause figure {
  position: relative;
  margin-bottom: 18px;
  background-color: #f0f0f0;
}

.cause figure a {
  display: block;
}

.cause figure img {
  display: block;
  height: auto;
  width: 100%;
}

.cause .cause-title {
  font-size: 16px;
  margin-bottom: 13px;
  line-height: 1.25;
}

.cause .cause-title a {
  color: #222;
}

.cause .cause-title a:hover, .cause .cause-title a:focus {
  color: #0069b0;
}

@media (min-width: 768px) {
  .cause.wider .cause-title {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.cause p {
  margin-bottom: 10px;
}

.cause .list-inline {
  font-size: 13px;
  font-weight: 400;
  color: #6e6e6e;
  margin-bottom: 12px;
}

.cause .list-inline strong {
  color: #222;
}

@media (min-width: 768px) {
  .cause.wider .list-inline {
    font-size: 15px;
    margin-bottom: 15px;
  }
}

.cause .progress {
  height: 3px;
  padding: 0;
  margin-bottom: 18px;
  background-color: #d9d9d9;
}

.cause .cause-action {
  font-size: 0;
}

.cause .cause-action .btn {
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 8px;
}

.cause .cause-action .btn + .btn {
  margin-left: 8px;
}

.cause .cause-action .btn.btn-border {
  border-width: 1px;
}

@media (min-width: 768px) {
  .cause.wider .cause-action .btn {
    font-size: 13px;
    padding: 6px 12px;
  }
}

/* jQuery Countdown styles 2.0.0. */
.countdown-section {
  display: block;
  float: left;
  text-align: inherit;
}

.countdown-period {
  display: block;
}

.countdown-descr {
  display: block;
  width: 100%;
}

.countdown-row {
  clear: both;
  width: 100%;
  padding: 0px;
  text-align: inherit;
}

.countdown-row:after {
  content: '';
  display: table;
  clear: both;
}

.countdown-show1 .countdown-section {
  width: 98%;
}

.countdown-show2 .countdown-section {
  width: 48%;
}

.countdown-show3 .countdown-section {
  width: 32.5%;
}

.countdown-show4 .countdown-section {
  width: 24.5%;
}

.countdown-show5 .countdown-section {
  width: 19.5%;
}

.countdown-show6 .countdown-section {
  width: 16.25%;
}

.countdown-show7 .countdown-section {
  width: 14%;
}

.cause-countdown {
  max-width: 420px;
  margin: 20px 0 25px;
}

.text-center .cause-countdown {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .cause-countdown {
    margin-top: 25px;
    margin-bottom: 22px;
  }
}

@media (min-width: 992px) {
  .cause-countdown {
    font-size: 16px;
  }
}

.cause-countdown .countdown-amount {
  font-size: 24px;
  font-weight: 700;
  color: #222;
  line-height: 0.8;
}

@media (min-width: 768px) {
  .cause-countdown .countdown-amount {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  .cause-countdown .countdown-amount {
    font-size: 36px;
  }
}

.cause-countdown .countdown-period {
  font-size: 13px;
  font-weight: 400;
  color: #5e5e5e;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .cause-countdown .countdown-period {
    font-size: 14px;
    line-height: 1.6;
  }
}

@media (min-width: 992px) {
  .cause-countdown .countdown-period {
    font-size: 15px;
    line-height: 1.7;
  }
}

.portfolio-item {
  margin-bottom: 0;
}
