/* Homepages - Index Agency */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.split-text {
  font-weight: 700;
  position: relative;
  z-index: 10;
  font-size: 15px;
  line-height: 1.4;
  color: #f1f1f1;
}

@media (min-width: 768px) {
  .split-text {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .split-text {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .split-text {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  .split-text > span {
    display: block;
  }
}

.entry.entry-list-sm {
  margin-bottom: 25px;
}
