/* Homepages - Index Restaurant 2 */
body,
#wrapper {
  background-color: #fff;
}

body {
  color: #444;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  color: #f7c500;
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6,
.sidebar .widget .widget-title,
.footer .widget .widget-title {
  font-family: "Playfair Display", serif;
}

h1, .h1 {
  font-size: 36px;
}

h2, .h2 {
  font-size: 28px;
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 14px;
}

.service .service-title {
  font-size: 17px;
}

.service.service-box {
  background-color: #f6f6f6 !important;
}

.service.service-box:hover {
  background-color: #eee !important;
}

.title-border > span {
  background-color: #fff;
}

.title-block p {
  max-width: 460px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 860px;
}

hr {
  border-top-color: #e6e6e6;
}

.lead {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-size: 17px;
}

@media (min-width: 481px) {
  .lead {
    font-size: 19px;
    margin-bottom: 50px;
  }
}

.lead i {
  border-radius: 50%;
  font-size: 18px;
  display: inline-block;
  line-height: 1;
  margin-bottom: 10px;
  min-width: 40px;
  line-height: 40px;
  color: #f7c500;
  background-color: #f6f6f6;
  border-radius: 50%;
  text-align: center;
}

.menu-col {
  margin-bottom: 40px;
}

.menu-list-container {
  background-repeat: no-repeat;
  background-position: left bottom;
}

.menu-item {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-bottom: 1px dashed #a6a6a6;
}

.menu-item + .menu-item {
  margin-top: 16px;
}

.menu-item .menu-item-content,
.menu-item .menu-item-price {
  display: table-cell;
  vertical-align: bottom;
}

.menu-item .menu-item-price {
  vertical-align: bottom;
  width: 80px;
  font-size: 17px;
  line-height: 1;
  padding: 3px 0;
  text-align: right;
  font-weight: 700;
  color: #f7c500;
  font-family: "Playfair Display", serif;
}

.menu-item .menu-item-price > span {
  display: block;
  text-decoration: line-through;
  font-size: 80%;
  font-weight: 400;
  margin-bottom: 4px;
  color: #444;
}

.menu-item h4 {
  font-size: 16px;
  margin-bottom: 4px;
  color: #555;
}

.menu-item a {
  color: #555;
}

.menu-item a:hover, .menu-item a:focus {
  text-decoration: underline;
}

.menu-item p {
  margin-bottom: 2px;
  font-size: 13px;
  line-height: 1.2;
}

.menu-col-title {
  display: inline-block;
  padding-bottom: 12px;
  margin-bottom: 45px;
  position: relative;
  padding: 5px 11px;
  border: 1px solid #f7c500;
  font-size: 20px;
}

.menu-col-title:after {
  content: '';
  display: block;
  width: 1px;
  height: 30px;
  background-color: #b3b3b3;
  position: absolute;
  left: 50%;
  top: 100%;
}

#portfolio-filter {
  border: none;
  padding: 0;
  margin-bottom: 20px;
}

#portfolio-filter li:before {
  height: 1px;
}

.more-btn-section {
  margin-top: -1px;
  padding: 0;
}

.more-btn-section .btn {
  display: block !important;
  padding: 22px 15px;
  text-align: center;
  font-family: "Playfair Display", serif;
  width: 100%;
  font-size: 15px;
  letter-spacing: 0.04em;
}

.testimonails-container {
  padding: 0 0 130px;
  background-color: #ebebeb;
}

.testimonial {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

.testimonial:hover {
  background-color: rgba(0, 0, 0, 0.65);
}

.testimonial cite {
  color: #fff;
  font-size: 15px;
  font-family: "Playfair Display", serif;
}

.owl-dots {
  margin-top: 15px;
}

.owl-dot {
  border-radius: 0;
  width: 9px;
  height: 9px;
  transition: all 0.4s;
  border: none;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.owl-dot.active {
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.owl-dot:not(.active) {
  background-color: #d6d6d6;
}

.owl-dot:not(.active):hover {
  background-color: #f7c500;
}

.journey-text {
  position: relative;
}

.journey-text .container-fluid {
  position: relative;
  z-index: 2;
}

.journey-text p {
  text-indent: 20px;
}

.journey-text blockquote {
  background-color: transparent;
  border: 1px solid #e1e1e1;
}

.journey-text .img-pointer {
  position: absolute;
  display: block;
  max-width: 100%;
  height: auto;
  bottom: -40px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}

.contact-form {
  background-color: #f7f7f8;
  padding: 20px 15px;
}

@media (min-width: 768px) {
  .contact-form {
    padding: 25px 20px;
  }
}

.form-control {
  background-color: #fff;
  border-color: #d7d7d7;
  color: #222;
}

.form-control::-webkit-input-placeholder {
  color: #222;
}

.form-control::-moz-placeholder {
  color: #222;
}

.form-control:-ms-input-placeholder {
  color: #222;
}

.form-control::placeholder {
  color: #222;
}

label {
  color: #222;
  font-family: "Playfair Display", serif;
}

.btn {
  font-family: "Playfair Display", serif;
}

textarea.form-control {
  min-height: 120px;
}

.contact-address label {
  font-size: 15px;
  margin-bottom: 10px;
}

.footer {
  color: #fff;
  border-top: 1px solid #eee;
  background-color: #222;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer a {
  color: #fff !important;
}

.footer a:hover, .footer a:focus {
  color: #f7c500 !important;
  text-decoration: underline;
}

.footer label {
  color: #fff;
}

.footer-bottom {
  background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 991px) {
  .footer-bottom .footer-right {
    margin-bottom: 0;
  }
}

#scroll-top {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  line-height: 42px;
  font-size: 22px;
  right: auto;
  left: 30px;
}
