/* Homepages - Index Cafe 2 */
body,
#wrapper {
  background-color: #d8ccbb;
}

body {
  color: #766957;
  font-family: "Lora", serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #3b3227;
}

h1, h2, h3, h4, h5, h6,
.sidebar .widget .widget-title,
.footer .widget .widget-title {
  font-family: "Lora", serif;
}

.title-border > span {
  background-color: #d8ccbb;
}

.title-block p {
  max-width: 460px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 860px;
}

hr {
  border-top-color: #c5b49b;
}

.page-header.largest {
  padding-bottom: 140px;
  border-bottom: none;
  position: relative;
}

.page-header.largest::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='140' width='2800' fill='rgb(216,204,187)' fill-opacity='1'%3E%3Cpolygon points='0,140 2800,140 2800,0'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  height: 140px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
  bottom: 0;
}

@media (max-width: 991px) {
  .page-header.fullheight {
    height: 80vh;
  }
}

@media (max-width: 767px) {
  .page-header.fullheight {
    height: 70vh;
  }
}

.lead {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
  font-size: 17px;
}

@media (min-width: 481px) {
  .lead {
    font-size: 19px;
    margin-bottom: 55px;
  }
}

.lead i {
  border-radius: 50%;
  font-size: 20px;
  display: block;
  line-height: 1;
  margin-bottom: 10px;
}

.typed-cafe {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
}

@media (min-width: 481px) {
  .typed-cafe {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .typed-cafe {
    font-size: 28x;
  }
}

@media (min-width: 992px) {
  .typed-cafe {
    font-size: 32x;
  }
}

@media (min-width: 1200px) {
  .typed-cafe {
    font-size: 34px;
  }
}

.menu-col {
  margin-bottom: 40px;
}

.menu-list-container {
  padding: 135px 0 115px;
  margin-top: -15px;
  background-color: #c9b9a1;
  position: relative;
  position: relative;
  margin-bottom: -15px;
}

.menu-list-container::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='140' width='2800' fill='rgb(216,204,187)' fill-opacity='1'%3E%3Cpolygon points='0,0 2800,0 0,140'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  height: 140px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
  top: 0;
}

.menu-list-container::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='140' width='2800' fill='rgb(216,204,187)' fill-opacity='1'%3E%3Cpolygon points='0,140 2800,140 2800,0'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  height: 140px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
  bottom: 0;
}

.menu-item {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-bottom: 1px dashed #8f7552;
}

.menu-item + .menu-item {
  margin-top: 16px;
}

.menu-item .menu-item-content,
.menu-item .menu-item-price {
  display: table-cell;
  vertical-align: bottom;
}

.menu-item .menu-item-price {
  vertical-align: bottom;
  width: 80px;
  font-size: 17px;
  line-height: 1;
  padding: 3px 0;
  text-align: right;
  font-weight: 700;
  color: #3b3227;
}

.menu-item .menu-item-price > span {
  display: block;
  text-decoration: line-through;
  font-size: 80%;
  font-weight: 400;
  margin-bottom: 4px;
  color: #766957;
}

.menu-item h4 {
  font-size: 16px;
  margin-bottom: 4px;
  color: #473c2f;
}

.menu-item a {
  color: #473c2f;
}

.menu-item a:hover, .menu-item a:focus {
  text-decoration: underline;
}

.menu-item p {
  margin-bottom: 2px;
  font-size: 13px;
  line-height: 1.2;
}

.menu-col-title {
  padding-bottom: 12px;
  margin-bottom: 22px;
  position: relative;
}

.menu-col-title:after {
  content: '';
  display: block;
  width: 40px;
  height: 1px;
  background-color: #9f835b;
  position: absolute;
  left: 0;
  bottom: 0;
}

.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #6a5944;
  color: #30281e;
}

.form-control::-webkit-input-placeholder {
  color: #30281e;
}

.form-control::-moz-placeholder {
  color: #30281e;
}

.form-control:-ms-input-placeholder {
  color: #30281e;
}

.form-control::placeholder {
  color: #30281e;
}

textarea.form-control {
  min-height: 120px;
}

#portfolio-filter {
  border: none;
  padding: 0;
  margin-bottom: 20px;
}

#portfolio-filter li:before {
  height: 1px;
  top: auto;
  bottom: 1px;
}

.more-btn-section {
  margin-top: -1px;
  padding: 40px 0 120px;
  background-color: #443b30;
  position: relative;
}

.more-btn-section::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='140' width='2800' fill='rgb(201,185,161)' fill-opacity='1'%3E%3Cpolygon points='0,140 2800,140 2800,0'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  height: 140px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
  bottom: 0;
}

.testimonails-container {
  padding: 0 0 130px;
  background-color: #c9b9a1;
  position: relative;
}

.testimonails-container::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='140' width='2800' fill='rgb(216,204,187)' fill-opacity='1'%3E%3Cpolygon points='0,140 2800,140 2800,0'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  height: 140px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
  bottom: 0;
}

.testimonial {
  background-color: #cdbda8;
  border: 1px solid #beaa8e;
}

.testimonial:hover {
  background-color: #c5b49b;
  border: 1px solid #b8a384;
}

.owl-dots {
  margin-top: 15px;
}

.owl-dot {
  border-radius: 0;
  width: 9px;
  height: 9px;
  transition: all 0.4s;
  border: none;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.owl-dot.active {
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.owl-dot:not(.active) {
  background-color: #baa587;
}

.owl-dot:not(.active):hover {
  background-color: #0069b0;
}

.journey-text p {
  text-indent: 20px;
}

.footer {
  color: #9a8d80;
  background-color: #443b30;
  position: relative;
}

.footer::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='140' width='2800' fill='rgb(68,59,48)' fill-opacity='1'%3E%3Cpolygon points='0,140 2800,140 2800,0'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  height: 140px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
  top: -140px;
}

.footer a {
  color: #fff !important;
}

.footer a:hover, .footer a:focus {
  text-decoration: underline;
}

.footer > .container-fluid {
  padding-top: 10px;
  padding-bottom: 80px;
}

.footer-bottom {
  background-color: #302a22;
  padding-top: 10px;
  position: relative;
}

.footer-bottom::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='140' width='2800' fill='rgb(48,42,34)' fill-opacity='1'%3E%3Cpolygon points='0,140 2800,140 2800,0'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  height: 140px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
  top: -140px;
}

@media (max-width: 991px) {
  .footer-bottom .footer-right {
    margin-bottom: 0;
  }
}

.footer-bottom .social-icon:hover {
  color: #0069b0 !important;
}

#scroll-top i {
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#scroll-top.fixed {
  -ms-transform: rotate(45deg) translateY(0);
  transform: rotate(45deg) translateY(0);
}
