@using ProyectoCalidad.Domain.Entities
@model  IEnumerable<ProyectoCalidad.Domain.Entities.Premio>

@{

    ApplicationUser user = null;

    if (ViewBag.user != null)
    {
        user = ViewBag.user;
    }

    if (Model != null)
    {

        foreach (var item in Model)
        {
            <li>
                @if (user != null)
                {
                    <a href="@Url.Action("Index", "InstitucionPostulante", new {PremioID = item.PremioID, UserID = user.Id})"><i class="mdi mdi-trophy"></i> @item.TipoPremio.Siglas</a>

                }
                else
                {
                    <p class="text-danger">ID Usuario Inválido</p>
                }
            </li>


        }

    }

}

