
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="widget about-widget">
                <img src="~/Content/assets/images/logo-map.png" alt="Simple Logo" />
                <hr>
                <h2 style="color:white">Ministerio de Administración Pública (MAP) </h2>
                <address style="color: #d8d8de">
                    <label>Ubicación:</label>
                    Av. 27 de Febrero No. 419, sector El Millón II. <br/> Santo Domingo, R.D
                </address>
                <label style="color: #d8d8de">Teléfono:</label> <telephone style="color: #d8d8de">Tel. 809-682-3298 | Fax. 809-686-6652 </telephone><br>
                <label style="color: #d8d8de">Correo:</label> <a href="mailto:#" style="color: #d8d8de">info@map.gob.do </a>
                <div class="" >
                    <label style="color: #d8d8de">Redes Sociales:</label>
                    <a href="https://www.facebook.com/maprdo/" class="social-icon" title="Facebook"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/maprdo/" class="social-icon" title="Twitter"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/map.rdo/" class="social-icon" title="Instagram"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCELLk2TE6VfQWLsHUbDCenQ" class="social-icon" title="Youtube"><i class="fa fa-youtube"></i></a>
                    <a href="https://map.gob.do/feed" class="social-icon" title="rss"><i class="fa fa-rss"></i></a>
                </div><!-- End .social-icons -->
            </div><!-- End .widget -->
        </div><!-- End .col-md-5 -->
        <div class="col-md-6 col-md-offset-1">
            <div class="row">
                <div class="col-sm-4">
                    <div class="widget">
                        <h4 class="widget-title">Enlaces</h4>
                        <ul class="fa-ul">
                            <li><a href="https://map.gob.do"><i class="fa-li fa fa-chain"></i>MAP</a></li>
                            <li><a href="http://www.fundibeq.org/"><i class="fa-li fa fa-chain"></i>Fundibeq</a></li>
                            <li><a href="https://www.argentina.gob.ar/premionacionalcalidad"><i class="fa-li fa fa-chain"></i>PNC Argentina</a></li>
                            @*<li><a href="#"><i class="fa-li fa fa-chain"></i>Portfolio</a></li>
                    <li><a href="#"><i class="fa-li fa fa-chain"></i>Blog</a></li>
                    <li><a href="#"><i class="fa-li fa fa-chain"></i>Support</a></li>
                    <li><a href="#"><i class="fa-li fa fa-chain"></i>Contact Us</a></li>*@
                        </ul>
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 -->
                <div class="col-sm-4">
                    <div class="widget">
                        <h4 class="widget-title">Administración</h4>
                        <ul class="fa-ul">
                            <li><a href="#"><i class="fa-li fa fa-chain"></i>Quiénes Somos</a></li>
                            <li><a href="#"><i class="fa-li fa fa-chain"></i>Servicios</a></li>
                            <li><a href="#"><i class="fa-li fa fa-chain"></i>Actividades</a></li>
                            @*<li><a href="#"><i class="fa-li fa fa-chain"></i>Features</a></li>
        <li><a href="#"><i class="fa-li fa fa-chain"></i>Portfolio</a></li>
        <li><a href="#"><i class="fa-li fa fa-chain"></i>Blog</a></li>
        <li><a href="#"><i class="fa-li fa fa-chain"></i>Support</a></li>*@
                            <li><a href="mailto:premio.calidad@map.gob.do"><i class="fa-li fa fa-chain"></i>Premio Nacional: premio.calidad@map.gob.do</a></li>
                            <li><a href="mailto:premiosantiago@map.gob.do"><i class="fa-li fa fa-chain"></i>Premio Santiago: premiosantiago@map.gob.do</a></li>
                        </ul>
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 -->
                @*<div class="col-sm-4">
                    <div class="widget">
                        <h4 class="widget-title">Postulantes</h4>
                        <ul class="fa-ul">
                            <li><a href="#"><i class="fa-li fa fa-chain"></i>About us</a></li>
                            <li><a href="#"><i class="fa-li fa fa-chain"></i>Services</a></li>
                            <li><a href="#"><i class="fa-li fa fa-chain"></i>Features</a></li>
                            <li><a href="#"><i class="fa-li fa fa-chain"></i>Portfolio</a></li>
                            <li><a href="#"><i class="fa-li fa fa-chain"></i>Blog</a></li>
                            <li><a href="#"><i class="fa-li fa fa-chain"></i>Support</a></li>
                            <li><a href="#"><i class="fa-li fa fa-chain"></i>Contact Us</a></li>
                        </ul>
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 -->*@

            </div><!-- End .row -->
        </div><!-- End .col-md-6 -->
    </div><!-- End .row -->
</div><!-- End .container -->

<div class="footer-bottom">

    <div class="container">

        <div class="pull-right">
            <p class="copyright" style="color: white">&copy; @DateTime.Now.Year - MAP, Todos los Derechos Reservados </p>

        </div>

        <div class="pull-left">
            <ul class="footer-menu">
                <li class="active"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li><a href="https://map.gob.do/terminos-de-uso">Terminos de Uso</a></li>
                <li><a href="https://map.gob.do/politicas-de-privacidad">Políticas</a></li>
                <li><a href="@Url.Action("Referencias", "Home")">Preguntas Frecuentes</a></li>

                <li><a href="https://utreee.com" target="_blank" title="Utreee-Solutions">¿Utreee?.</a></li>
            </ul>
        </div><!-- End .footer-right -->

    </div><!-- End .container -->


</div><!-- End .footer-bottom -->

@section Footer{

}

