
@{
    ViewBag.Title = "NoExiste";
}


<div class="main">


    <div class="error-page text-center">
        <div class="container">
            <h1 style="font-size: 10em">404</h1>
            <h2>Elemento No encontrado</h2>
            <p>Al parecer está cargando un elemento que no existe aún</p>
            <a href="@Url.Action("Index", "Home")" class="btn btn-custom2 btn-lg min-width">Volver al inicio</a>
        </div><!-- End .container -->
    </div><!-- End .error-page -->
</div><!-- End .main -->