@model ProyectoCalidad.Domain.Entities.Secretaria


@if (Model != null)
{
}
else
{
    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-hospital-building"></i><span> Evaluación </span> <span class="menu-arrow"></span></a>

}


