
@{
    ViewBag.Title = "Blank";
}

<div class="row">
    <div class="col-sm-12 text-center">


        <div class="wrapper-page">
            <div class="wrapper-page">
                <i class=" mdi mdi-book-open-page-variant text-muted " style="font-size: 100px"></i>

            </div>
            <h3 class="text-uppercase text-muted">Material de evaluación no seleccionado</h3>
            <p class="text-muted" style="font-size: 15px">
                Por favor seleccione un premio en el panel lateral izquierdo, para que aparezcan las memorias a evaluar.
            </p>
            <i class="mdi mdi-ray-end-arrow text-muted" style="font-size: 70px"></i>
        </div>

    </div>
</div>