
@model IEnumerable<ProyectoCalidad.Domain.Entities.Premio>
    
@if (Model == null)
{
    <ul class="list-unstyled">
            <li><a >No hay premio activo</a></li>

    </ul>
}
else
{
    <ul class="list-unstyled">
        @foreach (var item in Model)
        {
            <li><a href="@Url.Action("Index", "InstitucionPostulante", new {premioID = item.PremioID, siglas = "PNC"})">Versión @Html.Raw(item.Version == null ? "2019" : item.Version.ToString())</a></li>
        }

    </ul>
}